<!-- Navigation bar -->
<ng-include src="'views/navigation.html'"></ng-include>

<!-- Header -->
<div class="page-header">
  <h1>Status <small>Stats and heartbeats</small></h1>
</div>

<!-- messages -->
<div data-ng-show="message" class="alert {{ messageClass }}" role="alert">{{ message }}</div>

<!-- Page content -->
<div class="jumbotron">

  <!-- Screens -->
  <h3>Heartbeats</h3>
  <div data-ng-repeat="(apikey, beats) in heartbeats">
    <strong>{{ apikeys[apikey].name }}</strong> <small>({{ apikey }} - <a href="{{ apikeys[apikey].backend }}" target="_blank">{{ apikeys[apikey].backend }}</a>)</small>
    <div class="panel panel-default">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Id</th>
          <th>Screen</th>
          <th>Heartbeat</th>
          <th>Action</th>
        </tr>
        </thead>
        <tr data-ng-repeat="beat in beats">
          <td>{{ $index + 1 }}</td>
          <td>{{ beat.id }}</td>
          <td>{{ beat.title }}</td>
          <td>{{ beat.heartbeat * 1000 | date:'dd/MM/yy HH:mm:ss' }}</td>
          <td>
            <button type="button" class="btn btn-success btn-xs" data-ng-click="reloadScreen(beat.id, apikey)">
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reload
            </button>
            <button type="button" class="btn btn-danger btn-xs" data-ng-click="logoutScreen(beat.id, apikey)">
              <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> logout
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <button type="button" class="btn btn-success btn-xs" data-ng-click="refreshBeats()">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
  </button>


  <!-- Channels in redis -->
  <h3>Channels</h3>
  <div data-ng-repeat="(apikey, info) in channels">
    <strong>{{ apikeys[apikey].name }}</strong> <small>({{ apikey }} - <a href="{{ apikeys[apikey].backend }}" target="_blank">{{ apikeys[apikey].backend }}</a>)</small>
    <div class="panel panel-default">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Id</th>
          <th>Title</th>
          <th>No. screens</th>
        </tr>
        </thead>
        <tr data-ng-repeat="channel in info">
          <td>{{ $index + 1 }}</td>
          <td>{{ channel.id }}</td>
          <td>{{ channel.title }}</td>
          <td>{{ channel.screens }}</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <button type="button" class="btn btn-success btn-xs" data-ng-click="refreshChannels()">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
  </button>
</div>
